<h1><%= @p.title %>: <%= @discussion.title %></h1>
<p><%= @discussion.description %></p>

<%= link_to "Edit", edit_project_discussion_path(@p, @discussion), class: "btn btn-info btn-sm" %>
<%= link_to "Delete", project_discussion_path(@p, @discussion), method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?"}%>

<% if @comment.persisted? %>
  <h2>Editing Comment</h2>
<% else %>
  <h2>Add a Comment</h2>
<% end %>
<%= @comment.errors.full_messages.join(", ") %>
<%= form_for [@p, @discussion, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, value: @comment.body, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>


<h2>Comments</h2>
<% if @comments.blank? %>
  <p>none</p>
<% else %>
  <% @comments.each do |comment| %>
    <div class="well">
      <%= comment.body %>
      <%= link_to "Delete", project_discussion_comment_path(@p, @discussion, comment), method: :delete, class: "btn btn-danger btn-sm pull-right", data: {confirm: "Are you sure?"}%>
      <%= link_to "Edit", edit_project_discussion_comment_path(@p, @discussion, comment), class: "btn btn-info btn-sm pull-right" %>
    </div>
  <% end %>
<% end %>
