<h1><%= @p.title %></h1>
<p><%= @p.description %></p>
<p>Due date: <%= @p.due_date.to_formatted_s(:long) if @p.due_date%></p>

<%= link_to "Edit", edit_project_path(@p), class: "btn btn-info btn-sm" %>
<%= link_to "Delete", project_path(@p), {method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure you want to delete this project?"}}%>

<h2>Tasks</h2>
<%= link_to("Add Task", new_project_task_path(@p), class: "btn btn-primary") %>

<% if @tasks_done.blank? && @tasks_not_done.blank? %>
  <p>none</p>
<% else %>
  <h4>Not Done</h4>
  <% if @tasks_not_done.blank? %>
    <p>none</p>
  <% else %>
    <% @tasks_not_done.each do |task| %>
      <div class="well">
        <%= task.title %>
        <%= link_to "Show", project_task_path(@p, task), class: "btn btn-sm btn-primary pull-right"%>
        <div class="time pull-right">Due: <%= task.due_date.to_formatted_s(:short) if task.due_date %></div>
      </div>
    <% end %>
  <% end %>

  <h4>Done</h4>
  <% if @tasks_done.blank? %>
    <p>none</p>
  <% else %>
    <% @tasks_done.each do |task| %>
      <div class="well">
        <%= task.title %>
        <%= link_to "Show", project_task_path(@p, task), class: "btn btn-primary btn-sm pull-right"%>
        <div class="time pull-right">Due: <%= task.due_date.to_formatted_s(:short) if task.due_date%></div>
      </div>
    <% end %>
  <% end %>
<% end %>


<%= link_to("View Discussions", project_discussions_path(@p), class: "btn btn-primary") %>
