<h1>Edit Question</h1>

<%= @q.errors.full_messages.join(", ") %>
<%= form_for @q do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%# name attribute question[title] %>
    <%# f.text_field :title, {value: params[:question][:title]} %>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit %>
<% end %>
