<h1>Create New Question</h1>

<%= @q.errors.full_messages.join(", ") %>

<!-- <form action="<%= questions_path %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Create Question">
</form> -->

<!-- <%= form_tag questions_path do %>
  <%= submit_tag "Create Question" %>
<% end %> -->

<%# automatically guesses the url based on rails conventions ie. need questions_controller
  and submits to questions_path%>
<%= form_for @q do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%# name attribute question[title] %>
    <%# f.text_field :title, {value: params[:question][:title]} %>
    <%= f.text_field :title, class: "form-control"%>
    <p class="help-block">Enter a title describing your question</p>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
